.head, .body. .feet 
{
    width: 50wv;
    overflow-x: auto;
    white-space: nowrap;
}

.sidebar
{
    width: 50vw;
}


#head1,
#head2,
#head3 {
    width:100px;
}

#body1,
#body2,
#body3 {
    width:150px;
}

#feet1,
#feet2,
#feet3 {
    height:150px;
}

#canvas {
    border: 1px solid black;
    position: fixed;
    right: 0;
    top: 0;
}
