/* MAIN LAYOUT  */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* reset styles */
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: large;
}

.thumbnail.selected {
  opacity: .2;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.button {
  cursor: pointer;
  padding: 13px 25px;
  background-color: #111111;
  color: white;
  font-size: 1em;
  border-radius: 20px;
  border: none;
}

.button:hover {
  background-color: rgb(39, 39, 39);
}

/* //Drawing area (aside + canvas) */
main {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 30px;
}

@media (max-width: 1000px) {
  main {
    flex-direction: column-reverse;
    align-items: center;
  }
}

nav {
  color: #767676;
  font-size: smaller;
  width: max-content;
  height: max-content;
  padding-left: 30px;
}

nav a:link {
  color: #767676;
  text-decoration: none;
}

nav a:visited {
  color: #777;
}

.components {
  display: grid;
  align-items: center;
  gap: 20px;
}

#head,
#face,
#body,
#feet {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: max-content;
}

.itemsContainer {
  display: flex;
  align-items: start;
  gap: 10px;
}

.itemsContainer img {
  width: auto;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Canvas */
#canvas {
  border: 3px double #f9f9f9;
  /* canvas has a width of 100% unless < 600px , will take width in html */
}

/* Footer */

footer {
  font-size: smaller;
  color: #cccccc;
  text-align: center;
  margin: 10px;
}



/* Components (need to find a better way to show them all in a row when we have more than 3) */
